*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}



@media only screen and (max-width: 600px) {
 body{
   padding-top: 50px;
 }
#div1, #div2, #div3, .result_page {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 600px;
}

.quiz_picture {
  width: 100%; 
  height: 300px;
  margin-bottom: 10px;
}

ol li{
 margin-bottom:15px;
 /* margin-right: 10px; */
}
.h1{
padding-left: 2px;
padding-right: 2px;
}

.para1, .para2{
 font-size: 10px;
 padding-left: 10px;
 padding-right: 10px;

}
#button1,#button2,#back_btn,#Restart_btn{
 border: none;
}
#button3{
 width: auto;
 display: inline-block;
 height: 40px;
 background-color:blue;
 color: aliceblue;
 border-radius:15px ;
 font-size: 20px;
 padding: 5px;
 border: none;
}
.rules{
   margin-bottom:90px;

}
ol option{
 margin-bottom:10px;
 margin-right: 10px;
 padding: 25px;
}

.Time-left{
 background-color:aqua;
 color: black;
 margin-left: 50px;
 font-weight: bold;
 padding: 5px;
 border-radius: 5px;
 text-decoration: underline;
 }

 .Time-count{
   background-color:rgb(255, 0, 179);
   padding: 5px;
   border-radius: 5px;
   text-decoration: underline;
 }
 
 .timeline {
   width: 0%;
   margin-left: 5px;
   position: absolute;
   top: 90px;
   bottom: 0;
   left: 0;
   right: 0px;
   height: 5px; 
   background-color:red;
   overflow: hidden;
 } 

 #Next_btn{
  width: 100px;
  height: 40px;
  text-align: center;
  background-color: green;
  color: aliceblue;
  border-radius:15px ;
  font-size: 20px;
  display: none;
  margin-top: 35px;
  /* margin-left: 105px; */
  /* margin-right: 100px; */
   border: none;
  }
.div5{
  margin: 50px;
  
}
.question {
  font-size: 18px; 
}

}
