*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

#div1{
 text-align: center;
 margin-left: 500px;
 margin-top: 20px;
 margin-bottom: 5px;
 padding-top: 10px;
 width: 340px;
 height: 600px;
 border: 2px solid rgb(2, 35, 117);
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
border-radius: 50px;
background-color: aqua;
 position: relative; 
 z-index: 1;
}
.quiz_picture{
  height: 250px;
  width: 330px;
  margin-bottom: 10px;
  border-radius: 50px 50px 10px 10px;
}
.heading-home{
  margin: 20px;
  margin-bottom: 5px;
  padding: 10px;
  /* padding-top: 10px; */
  height: 80px;
  background-color: black;
  color: aliceblue;
  border-radius: 5px;
}

.start-btn{
 width: 100px;
 height: 40px;
 background-color:blue;
 color: aliceblue;
 border-radius:15px ;
 font-size: 25px;
}

#button1:hover{
 box-shadow: 1px 1px 2px  black;
 background-color:green;
}


#div2{
  text-align: center;
  margin-left: 500px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  width: 340px;
  height: 600px;
  background-color: aqua;
  border-radius: 50px;
  position: relative; 
  display: none;
  z-index: 2; 
  border: 2px solid rgb(2, 35, 117);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

 }

 .para1, .para2{
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
 
 }
 
#heading4{
padding-top: 20px;
 /* font-size: 20px; */
 text-decoration:underline;
}
#order{
list-style-type: none;
}
ol li{
 margin-bottom: 30px;
 margin-right: 10px;
}

#button2{
 width: 100px;
 height: 40px;
 background-color: rgb(255, 38, 0);
 color: aliceblue;
 /* margin-top: 10px; */
 border-radius:15px ;
 font-size: 25px;
}
#button3{
 width: 100px;
 text-align: center;
 padding: 5px;
 height: 40px;
 background-color:blue;
 color: aliceblue;
 /* margin-top: 10px; */
 border-radius:15px ;
 font-size: 22px;
}
#button2:hover{
 box-shadow: 1px 1px 2px  black;
 background-color: rgb(221, 39, 7);
}
#button3:hover{
 box-shadow: 1px 1px 2px  black;
 background-color: rgb(20, 198, 68);
}


/* question start  */

#div3{
  text-align: center;
  margin-left: 500px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  background-color: aqua;
  width: 340px;
  height: 600px;
  border-radius: 50px;
  position: relative; 
  display: none;
  z-index: 2; 
  border: 2px solid rgb(2, 35, 117);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

#div4{
  margin: 20px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-left: 5px;
  height: 50px;
  background-color: black;
  color: aliceblue;
  border-radius: 5px;
}
.Start-Quiz{
  font-weight: bold;
  text-decoration: underline;

}
.Time-left{
background-color:aqua;
color: black;
margin-left: 80px;
font-weight: bold;
padding: 5px;
border-radius: 5px;
text-decoration: underline;
}
.Time-count{
  background-color:#9E006F;
  padding: 5px;
  border-radius: 5px;
  text-decoration: underline;
}

.timeline {
  margin-left: 8px;
  position: absolute;
  top: 90px;
  bottom: 0;
  left: 0;
  height: 5px; 
  background-color:red;
}
.timeline.blink{
  animation: lineblinking 0.5s infinite alternate;
}
@keyframes lineblinking {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

#div5{

}
.question{
   margin-left: 5px;
  margin-right: 5px;
  background-color: black;
  margin-bottom: 25px;
  color: aliceblue;
  border-radius: 5px;
  padding: 5px;
}
#order{
  margin-top: 5px;
  margin-bottom: 0;
}

#option1,#option2,#option3,#option4{
/* margin-top: 45px; */
padding-top: 10px;
background-color: black;
margin-right: 20px;
margin-left: 0px;
height: 50px;
color: aliceblue;
border-radius: 5px;
}
/* #option1:hover{
  background-color: rgb(12, 94, 167);
}
#option2:hover{
  background-color: rgb(12, 94, 167);
}
#option3:hover{
  background-color: rgb(12, 94, 167);
}
#option4:hover{
  background-color: rgb(12, 94, 167);
} */

.icon{
  font-size: 20px;
padding-left: 25px;
}

.para_div{
  text-align: center;
}
.para{
  width: 200px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid red;
  color:rgb(248, 243, 245);
  background-color: black;
}
#Next_btn{
 width: 100px;
 height: 40px;
 text-align: center;
 background-color: green;
 color: aliceblue;
 border-radius:15px ;
 font-size: 20px;
 display: none;
 margin-left: 120px;
 margin-right: 100px;
 }
 
 #Next_btn:hover{
  box-shadow: 1px 1px 2px  black;
  background-color: blue;
 }

.correct_Ans{
  border-radius: 5px;
  padding-top: 10px;
  margin-right: 20px;
  margin-left: 0px;
  height: 50px;
  color: #f2f7f2;
  background-color: rgb(62, 182, 10);
 }
 .option.wrongAns{
  border-radius: 5px;
  padding-top: 10px;
  margin-right: 20px;
  margin-left: 0px;
  height: 50px;
  color: #f2f7f2;
  background-color:#AD0000;
 }
 .selected {
  background-color: #cceeff; /* Change background color to light blue */
  color: #000; /* Change text color to black */
  cursor: not-allowed; /* Change cursor to not-allowed */
  pointer-events: none;
}
 .disabled{
  pointer-events: none;
 }


.result_page{
  text-align: center;
  margin-left: 500px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-top: 10px;
  width: 340px;
  height: 600px;
  border: 2px solid rgb(2, 35, 117);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 50px;
  position: relative; 
  z-index: 1;
  display: none;
}
.result_heading{
  margin-left: 5px;
  margin-right: 5px;
font-size: 20px;
font-weight: 800;
}
.points{
  color: deeppink;
  font-size: 20px;
  font-weight: 700;
}

#back_btn{
  width: 100px;
  height: 40px;
  background-color: rgb(255, 38, 0);
  color: aliceblue;
  /* margin-top: 10px; */
  border-radius:15px ;
  font-size: 25px;
}
#back_btn:hover{
  box-shadow: 1px 1px 2px  black;
  background-color: rgb(221, 39, 7);
}

#Restart_btn{
  width: 100px;
  height: 40px;
  background-color:blue;
  color: aliceblue;
  /* margin-top: 10px; */
  border-radius:15px ;
  font-size: 22px;
 }
 #continu_btn:hover{
  box-shadow: 1px 1px 2px  black;
  background-color: rgb(20, 198, 68);
 }